/* CSS Custom Properties Definitions */

:root {
  --main-button-bg: #ffcc00;
  --hover-button-bg: #ffda44;
  --main-bg: #eef1f1;
  --main-font: "Frutiger Next Condensed";
  --second-font: "meta serif pro";
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.global-header a {
  color: #000;
  text-decoration: none;
}
.global-header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 600;
}
.logo {
  width: 150px;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 1.5rem;
}
.buttons {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.2rem;
  border: 0;
  background-color: var(--main-button-bg);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  outline-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons:hover {
  background-color: var(--hover-button-bg);
}

.articlesList {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: stretch;
  margin: auto;
}
.articleLink {
  background-color: var(--main-button-bg);
  border-radius: 0 0 10px 10px;
  margin-bottom: 2rem;
  transition: background-color 0.2s ease;
}

.articleLink:hover {
  background-color: var(--hover-button-bg);
}

.articles {
  list-style-type: none;
  width: 20rem;
}

.articlesList a {
  color: #000;
  text-decoration: none;
}

.articleH2 {
  color: #000;
  text-decoration: none;
  font-family: var(--main-font);
}

.articleHeader,
.articleText {
  padding: 0.5rem 1rem;
}

.articleText {
  font-family: var(--second-font);
  padding-bottom: 1rem;
}

.articleDate {
  font-family: var(--second-font);
}

.articleImage {
  width: 100%;
  margin-bottom: -0.3rem;
}

/* Subpages */

.blog-post {
  max-width: 45rem;
  padding: 4rem;
  margin: auto;
}

.postHeader {
  font-family: var(--main-font);
  font-size: 2rem;
}

.postDate {
  font-family: var(--second-font);
  font-style: italic;
  margin-bottom: 1rem;
}

.postText {
  font-family: var(--second-font);
  line-height: 1.5rem;
}
